@charset "UTF-8";


:root {
    --reform-black: #333333;
    --reform-green: #B0D850;
    --reform-white: #F2F2EB;
    --reform-beige: #EFE8D6;
    --reform-yellow: #FFDA26;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    font-size: 1.6rem;
    background-color: var(--reform-white);
}

img {
    width: 100%;
    height: auto;
}

.l-wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.c-center-text {
    text-align: center;
}

/* 共通設定 */



/* hover */

.c-btn--black:hover,
.l-header__nav li:hover,
.p-case-card:hover {
    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 0.8;
}

.c-hover__text:hover {
    text-decoration: underline solid rgb(51, 51, 51, 0.7);
}


/* btn */
.c-btn--black {
    display: block;
    background-color: var(--reform-black);
    color: var(--reform-white);
    font-size: 2.4rem;
    width: 270px;
    padding-block: 10.5px;
    text-align: center;
}

/* 見出し */
.c-section__title {
    font-size: 2.4rem;
    border-bottom: 4px solid var(--reform-green);
    display: inline-block;
    margin-bottom: 80px;
    padding-bottom: 10px;
}


/* 緑のニュースアイコン */
.c-news-item__icon {
    background-color: var(--reform-green);
    border: 1px solid #565656;
    border-radius: 4px;
    width: 100px;
    height: 27px;
    font-size: 1.2rem;
    text-align: center;
    padding-block: 6px;
}



/* header */

.l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(3.125rem, 0.176rem + 12.582vw, 11.5rem);
    padding: 16px 4px;
    height: 100%;
}

.l-header nav {
    height: 100%;
}

.l-header__nav {
    display: flex;
    justify-content: space-between;
    gap: clamp(1.25rem, 0.370rem + 3.756vw, 3.75rem);
    align-items: center;
    height: 100%;
}

.c-main-logo {
    width: clamp(10.625rem, 8.578rem + 8.732vw, 16.438rem);
}

.c-main-logo img {
    width: clamp(10.625rem, 8.578rem + 8.732vw, 16.438rem);
}


/* お問い合わせボタン */
.l-header__info-link {
    background-color: var(--reform-yellow);
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88px;
}

.l-header__info-link img {
    width: 30px;
}

@media screen and (max-width:735px) {
    .l-header__nav {
        display: none;
    }
}

/* fotter */
.l-footer {
    background: var(--reform-beige);
}

.l-footer-inner {
    padding-block: 40px;
    display: flex;
    justify-content: space-around;
}

.l-footer__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.l-footer__text {
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.l-footer__img {
    width: 263px;
    height: 83px;
    /* width: clamp(12.5rem, 11.114rem + 5.915vw, 16.438rem); */
}

.l-footer__company {
    font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
}

.l-footer__add,
.l-footer__tel {
    font-size: clamp(1rem, 0.824rem + 0.751vw, 1.5rem);
}

.l-footer__copy {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

/* TOP */


.p-top-section__body {
    display: flex;
    flex-direction: column;
    gap: 60px;
}


/* MV */
.p-mv {
    background: url(../img/bg.jpg) center center/cover;
    height: clamp(24.375rem, 15.352rem + 38.498vw, 50rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 40px;
}

.p-mv__copy {
    font-size: clamp(1.5rem, 0.972rem + 2.254vw, 3rem);
    background-color: var(--reform-white);
    font-weight: bold;
    margin-right: 80px;
}

.p-mv__btn {
    font-size: clamp(1rem, 0.824rem + 0.751vw, 1.5rem);
    width: clamp(9.375rem, 6.734rem + 11.268vw, 16.875rem);
    margin-right: 120px;
}

.p-mv__btn:hover {
    background: var(--reform-white);
    color: var(--reform-black);
    opacity: 1;
}

.p-sub-copy {
    text-align: center;
}

/* お知らせ */

.p-top-news__list {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
}

.c-news-item {
    display: flex;
    gap: 80px;
}

.c-news-item__head {
    display: flex;
    gap: clamp(2.5rem, 1.620rem + 3.756vw, 5rem);
    font-weight: normal;
}

.p-top__btn {
    align-self: flex-end;
}

@media screen and (max-width:735px) {
    .c-news-item {
        flex-direction: column;
        gap: 12px;
    }
}

/* リフォームの流れ（トップページ） */
.p-top-process__inner {
    display: flex;
    gap: 2%;
}

.p-top-process__text,
.p-top-process__img {
    width: 49%;
}

@media screen and (max-width:735px) {
    .p-top-process__inner {
        flex-direction: column;
    }

    .p-top-process__img,
    .p-top-process__text {
        width: 100%;
    }
}

/* リフォームの流れページ */

.p-process__bg {
    background: url(../img/process_top.jpg) center center/cover;
    height: clamp(4rem, 0.193rem + 16.244vw, 14.813rem);
}

.p-process__inner {
    display: flex;
    flex-direction: column;
    gap: 220px;
}

.p-process__card {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    position: relative;
}


.p-process__card:not(:first-of-type)::before {
    content: url(../img/arrow.svg);
    position: absolute;
    left: 0;
    top: -166px;
}

.p-process__title-area {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 50px;
}


.p-process__text-area,
.p-process__img {
    width: 49%;
}

.p-process__icon {
    background: var(--reform-green);
    font-size: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.p-process__icon--small {
    font-size: 1.6rem;
}

.p-process__title {
    font-size: 2.4rem;
}


.p-process__step-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width:735px) {
    .p-process__card {
        flex-direction: column;
    }

    .p-process__text-area,
    .p-process__img {
        width: 100%;
    }
}

/* 問い合わせページ */

.p-tel-box {
    display: flex;
    flex-direction: column;
    border: 10px solid var(--reform-green);
    align-items: center;
    padding-block: 20px;
}

.p-tel-box--big {
    font-size: 4.8rem;
    font-weight: bold;
}

.p-tel-box--small {
    font-size: 2.4rem;
    font-weight: bold;
}

.p-form {
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
}

.p-form-area {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.p-form__item,
.p-form__item--top {
    display: flex;
    gap: 78px;
}

.p-form__item-description {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.p-form__title-area {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.p-form__title-text {
    background: var(--reform-green);
    width: 200px;
}

.p-form__checkbox,
.p-form__radio {
    display: flex;
    gap: 15px;
}

.p-form__input-area {
    display: flex;
    gap: 45px;
}

.p-form--red {
    color: #DC1414;
}

.p-form__item--bottom,
.p-form--red {
    font-size: 1.4rem;
}

.p-text-box,
.p-text-box--big {
    border: 1px solid #000;
    padding: 10px 4px;
}

.p-text-box {
    height: 23px;
}

.p-text-box--big {
    height: 164px;
}



@media screen and (max-width:735px) {

    .p-form__item,
    .p-form__item--top {
        flex-direction: column;
        gap: 12px;
    }
}

/* お知らせ一覧 */

.p-news-janru {
    display: flex;
    gap: 10px;
}

.p-news-janru__icon {
    display: flex;
    gap: 22px;
}

.p-news__box {
    border-bottom: 1px dotted var(--reform-black);
    padding-block: 20px;
}

.p-news-list {
    display: flex;
    flex-direction: column;
}


/* お知らせ詳細 */


/* 事例一覧 */

.p-case__category {
    display: flex;
    justify-content: center;
    gap: 80px;
}


.p-case-card-set {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
}

.p-case-card {
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-case-card__img {
    width: 250px;
}



/* 事例詳細 */

.c-case-det__title {
    font-size: 3.2rem;
}

.p-case-det {
    display: flex;
    gap: 2%;
}

.p-case-box {
    border: 10px solid var(--reform-green);
    padding: 10px;
}

.p-case-box dt {
    font-weight: normal;
}

.p-case-box__item {
    display: flex;
}

.p-case-box__item dt::after {
    content: "：";
}

.p-case--underline {
    font-size: 2.4rem;
    padding-bottom: 10px;
    border-bottom: 4px solid var(--reform-green);
    display: inline-block;
}


@media screen and (max-width:735px) {
    .c-case-det__title {
        display: flex;
        flex-direction: column;
    }

    .p-case-det {
        flex-direction: column;
    }
}



@media screen and (max-width:735px) {}