@charset "UTF-8";


:root {
    --reform-black: #333333;
    --reform-green: #B0D850;
    --reform-white: #F2F2EB;
    --reform-beige: #EFE8D6;
    --reform-yellow: #FFDA26;

    --fz-12: 1.2rem;
    --fz-16: 1.6rem;
    --fz-20: 2.0rem;
    --fz-24: 2.4rem;
    --fz-32: 3.2rem;
    --fz-48: 4.8rem;
}


html {
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    font-size: 1.6rem;
    background-color: var(--reform-white);
}

img {
    width: 100%;
    height: auto;
}

.l-wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 180px;
    margin-block: 120px;
}

.l-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.c-center-text {
    text-align: center;
}

/* 共通設定 */

/* フォント */

.fz12 {
    font-size: var(--fz-12);
}

.fz16 {
    font-size: var(--fz-16);
}

.fz20 {
    font-size: var(--fz-20);
}

.fz24 {
    font-size: var(--fz-24);
}

.fz32 {
    font-size: var(--fz-32);
}

.fz48 {
    font-size: var(--fz-48);
}

.bold {
    font-weight: bold;
}

/* hover */

.c-btn--black:hover,
.c-header-text:hover,
.p-case-card:hover,
.c-logo:hover,
.l-header__info-link:hover,
.c-hover__text:hover,
.c-tel-belt__num:hover {
    transition: opacity 0.3s ease;
    opacity: 0.8;
}


.p-news-category .c-news-item__icon:hover {
    filter: brightness(90%);
}

.c-hover__text {
    text-decoration: underline solid var(--reform-black);
}

.c-hover__text:hover,
.c-header-text:hover {
    color: #6B8E23;

}

.c-hover__text:hover {
    text-decoration: underline solid #6B8E23;
}

/* btn */
.c-btn--black {
    display: block;
    background-color: var(--reform-black);
    color: var(--reform-white);
    font-size: var(--fz-24);
    width: 270px;
    padding-block: 10.5px;
    text-align: center;
}

/* 見出し */
.c-title {
    /* font-size: var(--fz-24); */
    border-bottom: 4px solid var(--reform-green);
    display: inline-block;
    /* margin-bottom: 80px; */
    padding-bottom: 10px;
}


/* ニュースアイコン */
.c-news-item__icon {
    background: var(--reform-beige);
    border: 1px solid #565656;
    border-radius: 4px;
    width: 100px;
    height: 27px;
    text-align: center;
    padding-block: 6px;
}

.c-special-offer {
    background-color: var(--reform-green);
}

/* header */

.l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

/* ロゴ */
.c-logo__img {
    height: 40px;
    width: auto;
}


.l-g-nav__inner {
    display: flex;
    align-items: center;
    gap: 30px;
}

.c-header-text {
    display: flex;
    gap: 20px;
}

.c-header-text a::before {
    content: "◆";
    color: var(--reform-green);
}



/* お問い合わせボタン */
.l-header__info-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--reform-yellow);
    padding: 8px 15px;
    min-width: 90px;
}

.l-header__info-link img {
    width: 30px;
}

/* ハンバーガーメニュー */

.c-hamburger,
.open {
    display: none;
}


@media screen and (max-width:810px) {
    .l-g-nav {
        display: none;
    }

    /* アイコン */
    .c-hamburger {
        display: block;
        width: 50px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 100;
    }

    .c-hamburger span,
    .c-hamburger span::before,
    .c-hamburger span::after {
        width: 100%;
        height: 1px;
        display: inline-block;
        background: var(--reform-black);
        position: absolute;
    }

    .c-hamburger span::before,
    .c-hamburger span::after {
        content: "";
    }

    .c-hamburger span {
        top: 50%;
    }

    .c-hamburger span::before {
        top: 15px;
    }

    .c-hamburger span::after {
        bottom: 15px;
    }

    /* 中身 */
    .open {
        display: none;
        position: fixed;
        background: var(--reform-beige);
        opacity: 0.9;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        z-index: 50;
    }

    .l-g-nav__inner {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .l-header__info-link {
        flex-direction: row;
        gap: 20px;
    }

    .open.active {
        display: block;
    }
}

/*  電話　緑帯 */

.c-tel-belt {
    background-color: var(--reform-green);
    padding-block: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.c-tel-belt__num {
    background-color: var(--reform-yellow);
    border-radius: 5px;
    padding: 10px 20px;
}

/* fotter */
.l-footer {
    background: var(--reform-beige);
}

.l-footer-inner {
    padding-block: 40px;
    display: flex;
    justify-content: space-around;
}

.l-footer__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.l-footer__text {
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.l-footer__img {
    height: 40px;
    width: auto;
}

.l-footer__company {
    font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
}

.l-footer__add,
.l-footer__tel {
    font-size: clamp(1rem, 0.824rem + 0.751vw, 1.5rem);
}

.l-footer__copy {
    display: block;
    text-align: center;
}

/* TOPページ */


.p-top-section__body {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.p-top__btn {
    align-self: flex-end;
}

@media screen and (max-width:735px) {
    .p-top__btn {
        align-self: center;
    }
}


/* MainVisual */
.p-mv {
    background: url(../img/bg.jpg) center center/cover;
    height: clamp(24.375rem, 15.352rem + 38.498vw, 50rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.p-mv__copy {
    font-size: clamp(1.5rem, 0.972rem + 2.254vw, 3rem);
    background-color: var(--reform-white);
    margin-top: 90px;
    text-align: end;
}

/* お知らせ */

.p-top-news__list {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
}

.c-news-item {
    display: flex;
    gap: 80px;
}

.c-news-item__head {
    display: flex;
    gap: clamp(2.5rem, 1.620rem + 3.756vw, 5rem);
    font-weight: normal;
}


@media screen and (max-width:735px) {
    .c-news-item {
        flex-direction: column;
        gap: 12px;
    }
}

/* リフォームの流れ（トップページ） */
.p-top-process__inner {
    display: flex;
    gap: 2%;
}

.p-top-process__text,
.p-top-process__img {
    width: 49%;
}

@media screen and (max-width:735px) {
    .p-top-process__inner {
        flex-direction: column;
    }

    .p-top-process__img,
    .p-top-process__text {
        width: 100%;
    }
}

/* リフォームの流れページ */

.p-process__bg {
    background: url(../img/process_top.jpg) center center/cover;
    height: clamp(4rem, 0.193rem + 16.244vw, 14.813rem);
}

.p-process__inner {
    display: flex;
    flex-direction: column;
    gap: 220px;
}

.p-process__card {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    position: relative;
}


.p-process__card:not(:first-of-type)::before {
    content: url(../img/arrow.svg);
    position: absolute;
    left: 0;
    top: -166px;
}

.p-process__title-area {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 50px;
}


.p-process__text-area,
.p-process__img {
    width: 49%;
}

.p-process__icon {
    background: var(--reform-green);
    font-size: var(--fz-32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.p-process__icon--small {
    font-size: var(--fz-16);
}

.p-process__title {
    font-size: var(--fz-24);
}


.p-process__step-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width:735px) {
    .p-process__card {
        flex-direction: column;
    }

    .p-process__text-area,
    .p-process__img {
        width: 100%;
    }
}

/* 問い合わせページ */

.p-tel-box {
    display: flex;
    flex-direction: column;
    border: 10px solid var(--reform-green);
    align-items: center;
    padding-block: 20px;
}

.p-form {
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: flex-start;
}

.p-form-area {
    display: flex;
    flex-direction: column;
    /* 項目ごとの余白 */
    gap: 70px;
}

.p-form__item,
.p-form__item--top {
    display: flex;
    align-items: flex-start;
    gap: 78px;
}

.p-form__item-description {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.p-form__title-area {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.p-form__title-text {
    background: var(--reform-green);
    width: 200px;
}

.p-form__checkbox,
.p-form__radio {
    display: flex;
    align-items: center;
    gap: 15px;
}

.p-form__input-area {
    display: flex;
    gap: 45px;
}

.p-form--red {
    color: #DC1414;
}

.p-form__item--bottom,
.p-form--red {
    font-size: 1.4rem;
}

.p-text-box,
.p-text-box--big {
    border: 1px solid #000;
    padding: 10px 4px;
}

.p-text-box {
    height: 23px;
    width: 400px;
}

.p-text-box--big {
    height: 164px;
    width: 400px;
}

.p-form-btn {
    align-self: center;
}



@media screen and (max-width:735px) {

    .p-form__item,
    .p-form__item--top {
        flex-direction: column;
        gap: 12px;
    }
}

/* お知らせ一覧 */

.p-news-category {
    display: flex;
    gap: 10px;
}

.p-news-category__icon {
    display: flex;
    gap: 22px;
}

.p-news__box {
    border-bottom: 1px dotted var(--reform-black);
    padding-block: 20px;
}

.p-news-list {
    display: flex;
    flex-direction: column;
}


/* お知らせ詳細 */


/* 事例一覧 */


.p-case__category {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.p-case__category li {
    padding: 5px 10px;
}

.p-case__category li:hover {
    background-color: var(--reform-green);
    opacity: 0.9;
}


.p-case-card-set {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: min(40px);
    row-gap: 50px;
    align-items: center;
}

.p-case-card {
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.p-case-card__img {
    width: 250px;
}


/* 事例詳細 */

.p-case-det {
    display: flex;
    gap: 5%;
    gap: min(40px);
}

.p-case-det__img {
    max-width: 480px;
    object-fit: contain;
}

.p-case-comment__item {
    min-width: 200px;
}

.p-before-and-after {
    display: flex;
    justify-content: center;
    gap: min(40px);
    gap: 5%;
}

.p-before,
.p-after {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.p-before img,
.p-after img {
    width: 350px;
    height: 200px;
    object-fit: cover;
}

.p-case-det__bottom-area {
    display: flex;
    gap: 5%;
    gap: min(40px);
}

.p-case-voice {
    flex-basis: 50%;
}

.p-case-box {
    flex-basis: 50%;
    border: 5px solid var(--reform-green);
    padding: 10px;
}

.p-case-box dt {
    font-weight: normal;
}

.p-case-box__item {
    display: flex;
}

.p-case-box__item dt::after {
    content: "：";
}



.p-case__btn {
    align-self: center;
}


@media screen and (max-width:735px) {
    .c-case-det__title {
        display: flex;
        flex-direction: column;
    }

    .p-case-det {
        flex-direction: column;
    }

    .p-case-det__img {
        width: 100%;
    }

    .p-case-comment {
        flex-direction: column;
    }

    .p-case-comment__item {
        width: 100%;
    }

    .p-case-det__bottom-area {
        flex-direction: column;
    }

    .p-before-and-after {
        flex-direction: column;
        align-items: center;
    }
}