@charset "UTF-8";


:root {
    --reform-black: #333333;
    --reform-green: #B0D850;
    --reform-white: #F2F2EB;
    --reform-beige: #EFE8D6;
    --reform-yellow: #FFDA26;

    --fz-s: 1.2rem;
    --fz-m: 1.6rem;
    --fz-l: 2rem;
    --fz-xl: 2.4rem;

    --space-s: 10px;
    --space-m: 20px;
    --space-l: 40px;
    --space-ll: 80px;
    --space-xxl: 120px;

    --anim-fast: 0.3s;
    --anim-mid: 1s;
    --anim-slow: 1.2s;
}


html {
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    font-size: var(--fz-m);
    background-color: var(--reform-white);
}

img {
    width: 100%;
    height: auto;
}

.l-wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 180px;
    margin-block: var(--space-xxl);
}

.l-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-ll);
}

.c-center-text {
    text-align: center;
}

/* 共通設定 */

/* フォント */
.fz12 {
    font-size: var(--fz-s);
}

.fz16 {
    font-size: var(--fz-m);
}

.fz20 {
    font-size: var(--fz-l);
}

.fz24 {
    font-size: var(--fz-xl);
}

.fz32 {
    font-size: 3.2rem;
}

.fz48 {
    font-size: 4.8rem;
}

.bold {
    font-weight: bold;
}

/* hover */

.c-btn--black:hover,
.c-header-text:hover,
.p-case-card:hover,
.c-logo:hover,
.l-header__info-link:hover,
.c-hover__text:hover,
.c-tel-belt__num:hover {
    transition: opacity var(--anim-fast) ease;
    opacity: 0.8;
}


.p-news-category .c-news-item__icon:hover {
    filter: brightness(90%);
}

.c-hover__text {
    text-decoration: underline solid var(--reform-black);
}

.c-hover__text:hover,
.c-header-text:hover {
    color: #6B8E23;

}

.c-hover__text:hover {
    text-decoration: underline solid #6B8E23;
}

/* btn */
.c-btn--black {
    display: block;
    background-color: var(--reform-black);
    color: var(--reform-white);
    font-size: var(--fz-xl);
    width: 270px;
    padding-block: var(--space-s);
    text-align: center;
}

.c-btn--center {
    align-self: center;
}

.p-top__btn {
    align-self: flex-end;
}

@media screen and (max-width:735px) {
    .p-top__btn {
        align-self: center;
    }
}

/* 見出し */
.c-title {
    border-bottom: 4px solid var(--reform-green);
    display: inline-block;
    padding-bottom: var(--space-s);
    white-space: nowrap;
}

.c-title.animation {
    animation: slide-left var(--anim-slow) linear forwards;
}


/* ニュースアイコン */
.c-news-item__icon {
    background: var(--reform-beige);
    border: 1px solid #565656;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    padding-block: 6px;
}

/* header */

.l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-s) var(--space-m);
}

/* ロゴ */
.l-gnav__inner {
    display: flex;
    align-items: center;
    gap: 30px;
}


.c-logo__img {
    height: 40px;
    width: auto;
}

.c-gnav-text {
    display: flex;
    gap: var(--space-m);
}

.c-gnav-text a::before {
    content: "◆";
    color: var(--reform-green);
}

/* お問い合わせボタン */
.c-gnav__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--reform-yellow);
    padding: var(--space-s) 15px;
    min-width: 90px;
}

.c-gnav__info img {
    width: 30px;
}

/* ハンバーガーメニュー */
.c-hamburger,
.open {
    display: none;
}

@media screen and (max-width:810px) {
    .l-gnav {
        display: none;
    }

    /* アイコン */
    .c-hamburger {
        display: block;
        width: 50px;
        height: 30px;
        position: fixed;
        right: var(--space-s);
        top: var(--space-s);
        z-index: 100;
    }

    .c-hamburger span,
    .c-hamburger span::before,
    .c-hamburger span::after {
        width: 100%;
        height: 1px;
        display: inline-block;
        background: var(--reform-black);
        position: absolute;
    }

    .c-hamburger span::before,
    .c-hamburger span::after {
        content: "";
    }

    .c-hamburger span {
        top: 50%;
    }

    .c-hamburger span::before {
        top: 15px;
    }

    .c-hamburger span::after {
        bottom: 15px;
    }

    .active+.c-hamburger span {
        background: var(--reform-white);
    }

    .active+.c-hamburger span::before {
        transform: rotate(45deg);
        top: 0;
        transition-duration: var(--anim-fast);
    }

    .active+.c-hamburger span::after {
        transform: rotate(-45deg);
        top: 0px;
        transition-duration: var(--anim-fast);
    }

    /* 中身 */
    .open {
        display: none;
        position: fixed;
        background: var(--reform-beige);
        opacity: 0.9;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        z-index: 50;
    }

    .l-gnav__inner {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .c-gnav__info {
        flex-direction: row;
        gap: var(--space-m);
    }

    .open.active {
        display: block;
    }
}

/*  電話　緑帯 */

.c-tel-belt {
    background-color: var(--reform-green);
    padding-block: var(--space-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
}

.c-tel-belt p:first-child {
    animation: flashAnime var(--anim-fast) ease-in-out infinite;
}

.c-tel-belt__num {
    background-color: var(--reform-yellow);
    border-radius: 5px;
    padding: var(--space-s) var(--space-m);
}

/* fotter */

.l-footer-inner {
    padding-block: var(--space-l);
    display: flex;
    justify-content: space-around;
}

.l-footer-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.l-footer__text {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.c-footer {
    background: var(--reform-beige);
}

.c-footer__img {
    height: var(--space-l);
    width: auto;
}

.c-footer__company {
    font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
}

.c-footer__add,
.c-footer__tel {
    font-size: clamp(1rem, 0.824rem + 0.751vw, 1.5rem);
}

.c-footer__copy {
    display: block;
    text-align: center;
}

/* TOPページ */
.p-top-section__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-ll);
}

/* MainVisual */
.p-mv {
    background: url(../img/bg.webp) center center/cover;
    height: clamp(24.375rem, 15.352rem + 38.498vw, 50rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    animation: slide-right var(--anim-slow) ease-out var(--anim-fast) alternate forwards;
}

.p-mv__copy {
    font-size: clamp(1.5rem, 0.972rem + 2.254vw, 3rem);
    background-color: var(--reform-white);
    margin-top: var(--space-ll);
    text-align: end;
    opacity: 0;
    animation: riseAnime 2s ease-in-out var(--anim-mid) forwards;
}

.subcopy.animation {
    animation: riseAnime 3s ease-out;
}

/* お知らせ */

.l-top-news__list {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
}

.l-top-news__item {
    display: flex;
    gap: var(--space-ll);
}

.l-top-news__item--head {
    display: flex;
    gap: clamp(2.5rem, 1.620rem + 3.756vw, 5rem);
    font-weight: normal;
}

@media screen and (max-width:735px) {
    .l-top-news__item {
        flex-direction: column;
        gap: var(--space-s);
    }
}

/* リフォームの流れ（トップページ） */
.p-top-process__inner {
    display: flex;
    gap: 2%;
}

.p-top-process__text,
.p-top-process__img {
    width: 49%;
}

@media screen and (max-width:735px) {
    .p-top-process__inner {
        flex-direction: column;
    }

    .p-top-process__img,
    .p-top-process__text {
        width: 100%;
    }
}

/* リフォームの流れページ */
.l-process__inner {
    display: flex;
    flex-direction: column;
    gap: 220px;
}

.l-process__card {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.l-process__card:not(:first-of-type)::before {
    content: url(../img/arrow.svg);
    position: absolute;
    left: 0;
    top: -166px;
}

.p-process__title-area {
    display: flex;
    align-items: center;
    gap: var(--space-l);
    margin-bottom: var(--space-m);
}

.p-process__text-area,
.p-process__img {
    width: 49%;
}

.p-process__img {
    white-space: nowrap;
    opacity: 0;
}

.p-process__img.animation {
    animation: riseAnime var(--anim-slow) linear var(--anim-fast) forwards;
}

.p-process__icon {
    background: var(--reform-green);
    font-size: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.p-process__icon--small {
    font-size: var(--fz-s);
}

.p-process__title {
    font-size: var(--fz-l);
}


@media screen and (max-width:735px) {
    .l-process__card {
        flex-direction: column;
    }

    .p-process__text-area,
    .p-process__img {
        width: 100%;
    }
}

/* 問い合わせページ */

.p-tel__box {
    display: flex;
    flex-direction: column;
    border: 10px solid var(--reform-green);
    align-items: center;
    padding-block: var(--space-m);
}

.p-tel__num {
    font-size: clamp(36px, 31.775px + 1.127vw, 48px);
}

.p-tel__box--text {
    font-size: clamp(20px, 18.592px + 0.376vw, 24px);
}

.l-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-ll);
    align-items: flex-start;
}

.l-form__wrapper {
    display: flex;
    flex-direction: column;
    /* 項目ごとの余白 */
    gap: var(--space-ll);
}

.l-form__item,
.l-form__item--top {
    display: flex;
    align-items: flex-start;
    gap: var(--space-ll);
}

.l-form__title-area {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.p-form__title {
    background: var(--reform-green);
    width: 200px;
}

.p-form__checkbox,
.p-form__radio {
    display: flex;
    align-items: center;
    gap: var(--space-m);
}

.p-form__input {
    display: flex;
    gap: var(--space-l);
}

.p-form--red {
    color: #DC1414;
}

.p-form--red {
    font-size: var(--fz-s);
}

.p-form__text-box,
.p-form__text-box--big {
    padding: var(--space-s) 4px;
    border: 1px solid #000;
}

.p-form__text-box {
    height: 23px;
    width: 400px
}

.p-form__text-box--big {
    height: 164px;
    width: 400px;
}

@media screen and (max-width:735px) {

    .p-form__input,
    .l-form__item,
    .l-form__item--top {
        flex-direction: column;
        gap: var(--space-s);
    }
}

/* お知らせ一覧 */
.l-news-list {
    display: flex;
    flex-direction: column;
}

.p-news__category {
    display: flex;
    gap: var(--space-s);
}

.p-news__category-icon {
    display: flex;
    gap: var(--space-m);
}

.p-news__box {
    display: flex;
    gap: var(--space-l);
    border-bottom: 1px dotted var(--reform-black);
    padding-block: var(--space-m);
}

@media screen and (max-width:735px) {
    .p-news__box {
        flex-direction: column;
        gap: var(--space-s);
    }


    .p-news__category {
        flex-direction: column;
    }

}

/* 事例一覧 */
.l-case__category {
    display: flex;
    justify-content: center;
    gap: clamp(1.875rem, 0.775rem + 4.695vw, 5rem);
}

.l-case__category li {
    padding: 5px var(--space-s);
}

.l-case__category li:hover {
    background-color: var(--reform-green);
    opacity: 0.9;
}

.l-case__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: var(--space-l);
    row-gap: var(--space-l);
    align-items: center;
}

.p-case__card {
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.p-case__card-img {
    width: 250px;
}


/* 事例詳細 */
.l-case-det__main {
    display: flex;
    gap: var(--space-l);
}

.c-case-det__img {
    max-width: 480px;
    object-fit: contain;
}

.c-case-det__point {
    min-width: 200px;
}

.l-case-det__beforeafter {
    display: flex;
    justify-content: center;
    gap: var(--space-l);
}

.l-before,
.l-after {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    position: relative;
}

.l-before img,
.l-after img {
    width: 350px;
    height: 200px;
    object-fit: cover;
}

.l-case-det__bottom-area {
    display: flex;
    gap: var(--space-l);
}

.c-case-det__voice {
    flex-basis: 50%;
}

.c-case-det__box {
    flex-basis: 50%;
    border: 5px solid var(--reform-green);
    padding: var(--space-s);
}

.c-case-det__box dt {
    font-weight: normal;
}

.c-case-det__box-item {
    display: flex;
}

.c-case-det__box-item dt::after {
    content: "：";
}


@media screen and (max-width:735px) {

    .l-case-det__main {
        flex-direction: column;
    }

    .l-case-det__beforeafter {
        flex-direction: column;
        align-items: center;
    }

    .c-case-det__img {
        width: 100%;
    }

    .p-case-comment {
        flex-direction: column;
    }

    .p-case-comment__item {
        width: 100%;
    }

    .l-case-det__bottom-area {
        flex-direction: column;
    }
}


/* アニメーション */
@keyframes riseAnime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flashAnime {
    0% {
        color: var(--reform-black);
    }

    50% {
        color: var(--reform-green);
    }

    100% {
        color: var(--reform-black);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    50% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}